body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(255, 228, 199);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(0, 0, 0);
}
h1, h2 {
    text-align: center;
    color: orange; 
}
.clubs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.club-card {
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.club-card h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

.club-info {
    font-size: 0.95rem;
    margin-top: 8px;
}

#bottom-nav {
    text-align: center;
    margin-top: 30px;
}

#bottom-nav button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    border: none;
    border-radius: 5px;

    background-color: black;
    color: white;

    transition: 0.3s;
    box-shadow: 0 0 6px rgba(0,0,0,0.7);
}

#bottom-nav button:hover {
    background-color: #ff9900;  
    color: black;
    font-weight: bold;
}
