body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('../images/tiger_patern.jpg'); 
    background-size: cover;      
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    color: white;
}

#clubs-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 30px;
}

#clubs-list li {
    margin: 8px 0;
    font-size: 18px;
}

/* Bottom nav buttons */
#bottom-nav {
    text-align: center;
    margin-top: 30px;
}

#bottom-nav button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s;
}
