body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.category-homework {
    color: blue;
}

.category-school-event {
    color: green;
}

.category-quiz-test {
    color: orange;
}

.category-sport-event {
    color: red;
}
