body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('../images/tiger_patern.jpg'); 
    background-size: cover;      
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    color: white;
}

h1, h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #000000;
}

td.empty {
    text-align: center;
    color: #000000;
}

form {
    margin-top: 40px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #f9f9f9;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form label {
    font-weight: bold;
}

form button {
    background-color: #ec934a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #ec934a;
}

.empty {
    text-align: center;
    font-style: italic;
    color: #888;
}

input[type="checkbox"] {
    transform: scale(1.2);
}

#campus-map {
    text-align: center;
    margin: 30px 0;
}

#campus-map img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

#bottom-nav {
    margin-top: 30px;
    text-align: center;
}

#bottom-nav button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    transition: background-color 0.3s;
}

#bottom-nav button:hover {
    background-color: #000000;
}
