ul { list-style-type: none; }

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('../images/tiger_patern.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.calendar-container {
    width: 500px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.month {
    padding: 50px 25px;
    width: 100%;
    text-align: center;
}

.month ul li {
    color: #ffffff; 
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.month .prev, .month .next {
    color: #000000;
    font-size: 26px;
    cursor: pointer;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.weekdays li {
    text-align: left;
    font-weight: bold;
    color: white;
    font-size: 15px;
    background: rgba(0,0,0,0.4);
    padding: 8px 0;
    border-radius: 6px;
}

.days {
    margin: 0;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.days li {
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #fefefe;          
    border-radius: 6px;
    border: 2px solid black;      
    font-size: 18px;
    color: #000000;
    padding-top: 5px;
    box-sizing: border-box;
    font-weight: bold;
}

.event {
    padding: 1px 4px;
    margin-top: 2px;
    border-radius: 4px;
    font-size: 10px;
    color: white;
    width: 90%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.category-homework {
    background-color: #d9534f; 
}

.category-school-event {
    background-color: #1e90ff;
}

.category-quiz-test {
    background-color: #f0ad4e; /
}

.category-sport-event {
    background-color: #5cb85c; 
}

#bottom-nav {
    margin-top: 30px;
    text-align: center;
}

#bottom-nav button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #ffffff;
    transition: background-color 0.3s;
    border: 2px solid rgb(255, 255, 255);  
}

#bottom-nav button:hover {
    background-color: rgba(0,0,0,0.95); 
}

#add-event, #remove-event {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #ffffff;
    transition: background-color 0.3s;
    border: 2px solid rgb(255, 255, 255);  
}